<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Places</h2>
    <h3>Welcome {{user.username}}!</h3>
    <form method="get" action="search">
        <input type="text" name="q" placeholder="Enter your search" value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for i in places %}
        <li><a href="{% url 'details' i.id %}">{{i.Name}}</a></li>
        {% endfor %}
    </ul>
</body>
</html>